In [2]:
import os

In [3]:
STUDENT_STAT_PATH = 'C:/KEA/PBA/Semester_01_extra/kea-public-datascience-2019-1/notebooks'
os.getcwd()

'C:\\Users\\xianl_pmrkzzf'

In [28]:
import pandas as pd

In [29]:
def load_attendance_data(attendance_path=STUDENT_STAT_PATH):
    csv_file = os.path.join(attendance_path, 'stud-stat-anonymous.csv')
    return pd.read_csv(csv_file)

In [30]:
attendance = load_attendance_data()
attendance.drop("Unnamed: 0", axis=1, inplace=True)

attendance.head(50)

In [32]:
attendance.tail()

,Id,Samlet fravær,Klasse,Fag,Fravær,Fag.1,Fravær.1,Fag.2,Fravær.2,Fag.3,Fravær.3
218,562729,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
219,868867,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
220,896377,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
221,591447,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
222,239435,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN

In [33]:
attendance.sample()

,Id,Samlet fravær,Klasse,Fag,Fravær,Fag.1,Fravær.1,Fag.2,Fravær.2,Fag.3,Fravær.3
208,144818,0%,SD19w1,Databases,0%,Test,0%,Big Data,0%,NaN,NaN

In [34]:
attendance[attendance.Klasse=="Web19w1"]

,Id,Samlet fravær,Klasse,Fag,Fravær,Fag.1,Fravær.1,Fag.2,Fravær.2,Fag.3,Fravær.3
33,841083,81.2%,Web19w1,Web Development,75%,Interface Design,100%,Databases,50%,NaN,NaN
35,378048,75%,Web19w1,Web Development,50%,Interface Design,100%,Databases,100%,NaN,NaN
38,716183,68.8%,Web19w1,Web Development,62.5%,Interface Design,100%,Databases,0%,NaN,NaN
52,440629,56.2%,Web19w1,Web Development,25%,Interface Design,100%,Databases,50%,NaN,NaN
65,318599,50%,Web19w1,Web Development,25%,Interface Design,100%,Databases,0%,NaN,NaN
66,507024,50%,Web19w1,Web Development,25%,Interface Design,100%,Databases,0%,NaN,NaN
85,658197,37.5%,Web19w1,Web Development,0%,Interface Design,100%,Databases,0%,NaN,NaN
86,528407,37.5%,Web19w1,Web Development,0%,Interface Design,100%,Databases,0%,NaN,NaN
87,910950,37.5%,Web19w1,Web Development,0%,Interface Design,100%,Databases,0%,NaN,NaN
150,682245,12.5%,Web19w1,Web Development,25%,Interface Design,0%,Databases,0%,NaN,NaN
151,630605,12.5%,Web19w1,Web Development,12.5%,Interface Design,0%,Databases,50%,NaN,NaN
152,373287,12.5%,Web19w1,Web Development,12.5%,Interface Design,0%,Databases,50%,NaN,NaN
153,459563,12.5%,Web19w1,Web Development,12.5%,Interface Design,0%,Databases,50%,NaN,NaN
154,919232,12.5%,Web19w1,Web Development,25%,Interface Design,0%,Databases,0%,NaN,NaN
177,749287,6.2%,Web19w1,Web Development,12.5%,Interface Design,0%,Databases,0%,NaN,NaN
178,184496,6.2%,Web19w1,Web Development,12.5%,Interface Design,0%,Databases,0%,NaN,NaN
210,130507,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
211,801474,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
212,457284,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
213,115629,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
214,303821,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
215,287105,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
216,829818,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
217,502633,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
218,562729,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
219,868867,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
220,896377,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
221,591447,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN
222,239435,0%,Web19w1,Web Development,0%,Interface Design,0%,Databases,0%,NaN,NaN

In [35]:
attendance[attendance["Klasse"]=="Web19w1"][["Samlet fravær", "Fag"]].head()

   Samlet fravær              Fag
33         81.2%  Web Development
35           75%  Web Development
38         68.8%  Web Development
52         56.2%  Web Development
65           50%  Web Development

In [36]:
all_cols = attendance.columns.tolist()

In [37]:
transform_func = dict(Fag=attendance.filter(regex="^Fag").columns, Fravær=attendance.filter(regex="^Fravær").columns)

In [40]:
transform_func

{'Fag': Index(['Fag', 'Fag.1', 'Fag.2', 'Fag.3'], dtype='object'),
 'Fravær': Index(['Fravær', 'Fravær.1', 'Fravær.2', 'Fravær.3'], dtype='object')}

In [48]:
transformed_attendance = pd.lreshape(attendance, transform_func)

In [49]:
all_cols

['Id',
 'Samlet fravær',
 'Klasse',
 'Fag',
 'Fravær',
 'Fag.1',
 'Fravær.1',
 'Fag.2',
 'Fravær.2',
 'Fag.3',
 'Fravær.3']

In [44]:
col_overview = all_cols[0:3]
col_fag_0 = all_cols[3 : 5]
col_fag_1 = all_cols[5:7]
col_fag_2 = all_cols[7:9]
col_fag_3 = all_cols[9:11]

type(col_fag_1)

list

In [45]:
col_overview, col_fag_0, col_fag_1, col_fag_2, col_fag_3

(['Id', 'Samlet fravær', 'Klasse'],
 ['Fag', 'Fravær'],
 ['Fag.1', 'Fravær.1'],
 ['Fag.2', 'Fravær.2'],
 ['Fag.3', 'Fravær.3'])

In [46]:
cols_overview = col_overview + col_fag_0
cols_fag_1 = col_overview + col_fag_1
cols_fag_2 = col_overview + col_fag_2
cols_fag_3 = col_overview + col_fag_3
cols_fag_3

['Id', 'Samlet fravær', 'Klasse', 'Fag.3', 'Fravær.3']

In [47]:
attendance_sorted_part_0 = attendance[cols_overview]
attendance_sorted_part_1 = attendance[cols_fag_1]
attendance_sorted_part_2 = attendance[cols_fag_2]
attendance_sorted_part_3 = attendance[cols_fag_3]
type(attendance_sorted_part_3)

pandas.core.frame.DataFrame

In [55]:
attendance_sorted = attendance_sorted_part_0.append(attendance_sorted_part_1, sort=False)
dropna_attendance = attendance_sorted.dropna(how="any")

In [56]:
attendance_sorted.head()

       Id Samlet fravær                  Klasse      Fag Fravær Fag.1 Fravær.1
0  866066          100%  Web and Soft Electives  Angular   100%   NaN      NaN
1  130671          100%  Web and Soft Electives  Angular   100%   NaN      NaN
2  313022          100%  Web and Soft Electives  Angular   100%   NaN      NaN
3  818199          100%  Web and Soft Electives  Angular   100%   NaN      NaN
4  514306          100%  Web and Soft Electives  Angular   100%   NaN      NaN

In [57]:
attendance_sorted.tail()

         Id Samlet fravær   Klasse  Fag Fravær             Fag.1 Fravær.1
218  562729            0%  Web19w1  NaN    NaN  Interface Design       0%
219  868867            0%  Web19w1  NaN    NaN  Interface Design       0%
220  896377            0%  Web19w1  NaN    NaN  Interface Design       0%
221  591447            0%  Web19w1  NaN    NaN  Interface Design       0%
222  239435            0%  Web19w1  NaN    NaN  Interface Design       0%

In [42]:
file_name = "transformed_attendance"
transformed_attendance.to_csv(file_name)